[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pbr = "*"
doit = "*"
atomicwrites = "*"
pylint = "*"

[packages]
pyyaml = "*"
jsonschema = "*"
pytablewriter = "*"
jinja2 = "*"
schema205 = {editable = true,path = "."}

[scripts]
build = "doit"
validate = "doit validate"
doc = "doit doc"
schema = "doit schema"
