[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pbr = "*"

[packages]
jsonschema = "*"
pyyaml = "*"
pytablewriter = "*"

scripts = {editable = true,path = "."}

[scripts]
validate = "python scripts/validate.py"
doc = "python scripts/markdown.py"
translate = "python scripts/json_translate.py"